nav {
    height: 60px;
    width: 100%;
    background: #0080cd;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.switchContainer {

    position: absolute;
    left: 95%;
    width: 200px px;
    top: 50%;
    transform: translate(-95%, -50%);
    display: flex;
    align-items: center;
}

nav .switchContainer span {
    display: flex;
    align-items: center;
    color: white;
    font-family: roboto;
    font-weight: 600;
}

img {
    width: 140px;
}

nav button {
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 79%;
    background: #4ca4ef;
    z-index: 24;
    color: white;
    border: solid 2px #2682d1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .switchContainer {

        position: absolute;
        left: 95%;
        width: 200px;
        top: 127%;
        transform: translate(-44%, -50%);
        display: flex;
        align-items: center;
    }

    nav .switchContainer span {
        color: #0080cd;
    }
}